/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  margin: 0;
}

.outlet {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

.row-bet-cen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.row-cen-cen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.row-aro-cen {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.col-st-cen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.col-st-str {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.col-gap-10 > *:not(:last-child) {
  margin-bottom: 10px;
}

.flexrow-40 {
  width: 40%;
}


.flexrow-80 {
  width: 80%;
}

.self-ce {
  align-self: center !important;
}

h1[mat-dialog-title] {
  margin-bottom: 0px;
}
